{% extends 'web/base_publisher.html' %}
{% block title %}Ad details{% endblock %}
{% block catalog_active %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="container-fluid card" style="margin-top: 1em">
                    <img class="card-img-top img-fluid" src="{{ ad.image }}" style="margin-top: 1em">
                    <h3 class="card-title">{{ ad.name }}</h3>
                    <strong><em>{{ ad.targetUrl }}</em></strong>
                    <div class="card-body">
                        <p>
                            Description: {{ ad.description }}<br>
                            Dimensions: {{ ad.widthPx }} x {{ ad.heightPx }}<br>
                            Cost: {{ ad.maxCost }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container-fluid card" style="margin-top: 1em">
                    <div class="card-body">
                        <form class="form-horizontal" role="form" action="{% url 'web:transaction' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="slotid">
                                Slot ID:
                            </label>
                            <div class="col-sm-10">
                                <input id="slotid" maxlength="30" name="slotid" type="text">
                            </div>
                        </div>
                            <input type="hidden" name="adid" value="{{ ad.advertisementId }}">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}