<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Web Advertising{% endblock %}</title>
    {# Loading the static files #}
    {% load staticfiles %}
    {# The custom css file to load #}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {# The navbar, https://getbootstrap.com/docs/4.0/components/navbar/  #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Web Advertising</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav-pills navbar-nav mr-auto"></ul>
            <ul class="nav-pills navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link {% block register_advertiser_active%}{% endblock %}" href="{% url 'web:register_advertiser' %}"><i class="fa fa-user"></i>&nbsp; Register as Advertiser</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% block register_publisher_active%}{% endblock %}" href="{% url 'web:register_publisher' %}"><i class="fa fa-user"></i>&nbsp; Register as Publisher</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% block login_active%}{% endblock %}" href="{% url 'web:login_user' %}"><i class="fa fa-power-off"></i>&nbsp; Log In</a>
                </li>
            </ul>
        </div>
    </nav>
{% block body %}
{% endblock %}
</body>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js_scripts %}
{% endblock %}
</html>
