<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Web Advertising{% endblock %}</title>
    {# Loading the static files #}
    {% load staticfiles %}
    {# The custom css file to load #}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {# The navbar, https://getbootstrap.com/docs/4.0/components/navbar/  #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Web Advertising</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav-pills navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link {% block slots_active %}{% endblock %}" href="{% url 'web:myslots' %}">My slots</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% block create_active %}{% endblock %}" href="{% url 'web:create_slot' %}">Create slots</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% block catalog_active %}{% endblock %}" href="{% url 'web:ad_catalog' %}">Catalog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% block coins_active %}{% endblock %}" href="{% url 'web:sell_coins' %}">Sell AdCoins</a>
                </li>
            </ul>
            <ul class="nav-pills navbar-nav mr-auto"></ul>
            <ul class="nav-pills navbar-nav">
                {% if request.user.is_authenticated == 0 %}
                    <li class="nav-item active">
                        <a class="nav-link active" href="{% url 'web:login_user' %}"><i class="fa fa-power-off"></i>&nbsp; Log In</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link bg-success"><div id="balance"></div></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'web:logout_user' %}"><i class="fa fa-power-off"></i>&nbsp; Log out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% block body %}
{% endblock %}
</body>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js_scripts %}
    <script>
        $.ajax({
            url: "http://10.100.54.62:8000/getbalance/",
            type: 'GET',
            dataType: 'json', // added data type
            success: function(res) {
                console.log(res);
                $("#balance").append("AdCoins: " + res);
            }
        });
    </script>
{% endblock %}
</html>
