{% extends 'web/base_advertiser.html' %}
{% block title %}Buy Coins{% endblock %}
{% block coins_active %}active{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card" style="margin-top: 1em">
                <div class="card-body">
                    <h3>Buy Coins</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'web:buy_coins'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="coins">
                                Coins:
                            </label>
                            <div class="col-sm-10">
                                <input id="coins" maxlength="30" name="coins" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}