{% extends 'web/base_publisher.html' %}
{% load bootstrap4 %}
{% block title %}Register{% endblock %}
{% block create_active %}active{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card" style="margin-top: 1em">
                <div class="card-body">
                    <h3>Create Slot</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form role="form" action="{% url 'web:create_slot'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form createform %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}