{% extends 'web/base_advertiser.html' %}
{% block title %}My Ads{% endblock %}
{% block myads_active %}active{% endblock %}
{% block body %}

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>My Ad Campaigns</h3>
            </div>
            <div class="container-fluid">
                {% if ads %}
                    {% for ad in ads %}
                        <div class="col-sm-4 col-lg-2">
                            <div class="card">
                                <a href="#">
                                    <img src="{{ ad.image }}" class="card-img-top img-fluid">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ ad.name }}
                                    </h5>
                                    <p class="card-text">
                                        Description: {{ ad.description }}<br>
                                        Target URL: {{ ad.targetUrl }}<br>
                                        Dim: {{ ad.widthPx }} x {{ ad.heightPx }}<br>
                                    </p>
                                    <a class="btn btn-primary" href="{% url 'web:ad' ad.advertisementId %}">Details</a>
                                </div>
                            </div>
                        </div>
                        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}