{% extends 'web/base_publisher.html' %}
{% block title %}My Slots{% endblock %}
{% block slots_active %}active{% endblock %}
{% block body %}

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>My slots</h3>
            </div>
            <div class="container-fluid">
                {% if slots %}
                    {% for slot in slots %}
                        <div class="col-sm-4 col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ slot.website }}
                                    </h5>
                                    <p class="card-text">
                                        On sale: {{ slot.onSale }}<br>
                                        Cost: {{ slot.cost }}<br>
{#                                        Dim: {{ slot.widthPx }} x {{ slot.heightPx }}#}
                                    </p>
                                    <a class="btn btn-primary" href="{% url 'web:slot' slot.slotId %}">Details</a>
                                </div>
                            </div>
                        </div>
                        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}