{% extends 'web/base_publisher.html' %}
{% block title %}Slot details{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="container-fluid card" style="margin-top: 1em">
                    <h3 class="card-title">{{ slot.website }}</h3>
                    <strong><em>{{ slot.website }}</em></strong>
                    <div class="card-body">
                        <p>
                            Slot ID: {{ slot.slotId }}<br>
                            On Sale: {{ slot.onSale }}<br>
                            Ad verified: {{ slot.verifiedWebsite }}<br>
                            Slot verification: {{ slot.verifiedSlot }}<br>
                            Generated URL: {{ slot.generatedUrl }}<br>
{#                            Dimensions: {{ slot.widthPx }} x {{ slot.heightPx }}<br>#}
                            Cost: {{ slot.cost }}<br>
                        </p>
                    </div>
                    <div class="card-footer">
                        <button
                            class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#deleteModal"
                            title="Delete record" id="del">
                        <i class="fa fa-trash"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this record?</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'web:delete_slot' slot.slotId %}"><button type="button" class="btn btn-danger" id="delcnf">Yes</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}